In [1]:
import pandas as pd
import numpy as np

In [7]:
np.random.seed(0)
arr = np.random.randint(11, size = (2,2))
print(arr)

[[5 0]
 [3 3]]

In [8]:
df1 = pd.DataFrame(arr,copy=False)
df2 = pd.DataFrame(arr,copy=True)

In [12]:
arr[0,0] = 99
print(df1) # Dataframe 생성 시, copy 여부에 따라 소스데이터 변경시 연동 여부를 결정할 수 있음
print(df2) # False는 복사본을 만들지 않고 arr의 address를 공유하기 때문에, 소스 데이터 변경에 영향을 받지만,
           # True는 address 공유가 아닌 생성 당시 복사본을 만들었기 때문에, 별개의 데이터로 취급을 받는다.

    0  1
0  99  0
1   3  3
   0  1
0  5  0
1  3  3

In [20]:
# 생성; 데이터 자체가 2차원 배열이라면 해당 데이터만 제공해도 생성 가능
data = {"A" :[1,2], "B" : [3,4]}
df = pd.DataFrame(data = data)
print(df)

data2 = np.array([[1,2], [3,4]])
df2 = pd.DataFrame(data = data2, index=['row1','row2'], columns=['col1','col2'])
print(df2)

   A  B
0  1  3
1  2  4
      col1  col2
row1     1     2
row2     3     4

In [ ]:
# add, radd

#### add, radd 기본 사용법
##### df.add(other, axis = , level = , fill_value = )
1. other : 더하고자 하는 다른 데이터 (Dataframe, Series, Scalar, etc)
2. axis : 더할 레이블, 0 = 행(index), 1 = 열(column)
3. level : multiIndex일 경우 계산할 Index의 레벨
4. fill_value : NaN 값등의 누락 요소가 있을 경우 계산 전 지정값으로 대체 ex) fill_value = 0

In [21]:
data = [[1, 10, 100], [2, 20, 200], [3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [23]:
#scalar 값 더하기
result = df.add(1)
print(result)

result2 = df + 1
print(result2)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301
      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

In [42]:
df1 = pd.DataFrame([[1000, '과자','2019-12-31','반품'],
                   [2000, '음료','2020-03-02','정상'],
                   [3000, '아이스크림','2020-02-03','정상'],
                   [1000, '과자','2019-12-31','반품']],
                   columns = ['가격','종류','판매일자','반품여부'])
df1

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [47]:
df1['가격'] # Output : Series
df1['가격'].sum()
df1['가격'].mean()
df1[['가격']] # Output : DataFrame
df1[['가격', '종류']]

     가격     종류
0  1000     과자
1  2000     음료
2  3000  아이스크림
3  1000     과자