빠르게 따라하는 Python_from Wikidocs 참고

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('titanic3.csv')

In [13]:
data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [17]:
arr = np.arange(100, 105)
arr

array([100, 101, 102, 103, 104])

In [18]:
s = pd.Series(arr)
s

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [22]:
# 시리즈 타입 지정 생성
s = pd.Series(arr, dtype='int64')
s

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [23]:
s = pd.Series(['부장', '차장','대리','사원','인턴'])
s

0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [30]:
s[[1,3]]
s[np.arange(1,4,2)]

1    차장
3    사원
dtype: object

In [31]:
s = pd.Series(['마케팅','경영','개발','기획','인사'], index=['a','b','c','d','e'])
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [33]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [35]:
s['c']
s[['a','d']]

a    마케팅
d     기획
dtype: object

In [38]:
s = pd.Series(['마케팅','경영','개발','기획','인사'])
s

0    마케팅
1     경영
2     개발
3     기획
4     인사
dtype: object

In [40]:
# s.index = list('1234')
# ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements
s.index = list('abcde')
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [42]:
# Series 구성 - Index & Values
print(s.index)
print(s.values)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
['마케팅' '경영' '개발' '기획' '인사']

In [45]:
# ndim - 차원의 수 (Series = 1차원)
print(s.ndim)
# shape - 데이터 모양을 알기 위함
# 데이터프레임이라면, (n,m) 형식의 배열 표현 방식으로 리턴
print(s.shape)

1
(5,)

In [ ]:
#문자열 포멧팅: 원하는 값들을 집어넣어 문자열로 바꿔주기 위해 사용
#1 - C-style Formatting
#2 - curly bracket Formatting
#3 - f-string

In [5]:
#1 - C-style Formatting 
#변수처럼 사용된다.
# %d, %f로 사용하고, 자릿수를 지정하기 위해 %뒤에 추가한다.
print( "integer : %d, float : %.3f" % (3, 3.141592))

integer : 3, float : 3.142

In [7]:
#2 - curly bracket Formatting
# 중괄호를 이용해 포멧팅 -> 파이썬에서 추천하는 방식
# C-style에서 %d, %f를 {}로 바꿔주면 된다.
print("I am {} and pi value is {}" .format('developer', np.pi))

I am developer and pi value is 3.141592653589793

In [8]:
# f-string : 문자열 따옴표 시작 전 f를 붙인 후, 중괄호를 이용한다.
name = "Amy"
print(f"안녕하세요. {name} 고객님")

안녕하세요. Amy 고객님

In [1]:
# 조건문
# If / elif / else 조건문 : Boolean = True일 경우, 실행
if True:
    print('hello, True World')
    
if False:
    print("This is fake world")
    
# 조건은 프로그래밍 내 지정되는 경우에 따라 다양화 가능
condition = True
if condition:
    print('hello, True World')
else:
    print("This is fake world")
    
#다양한 방법을 통해 Boolean 생성 가능
score = 75
if score >= 90:
    print("Grade is A")
elif score >= 80:
    print("Grade is B")
else:
    print("Grade is C")

hello, True World
hello, True World
Grade is C

In [2]:
# 반복문 (For / While)
# - For : 반복가능(Iterable) 객체의 원소를 하나씩 순환
# - While : 조건이 만족하는 동안 순환

In [4]:
# - For : 반복가능한 객체의 원소를 하나씩 순환
# 피보나치 수열에 5씩 더해보자
num_list = [1,1,2,3,5,7,12,19]
for i in num_list:
    print(i + 5)

6
6
7
8
10
12
17
24

In [1]:
# - While : 조건이 만족하는 동안 순환
a = 1
while a <= 10:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9
10

In [2]:
#파이썬 함수 사용 : 사용빈도가 높은 알고리즘에 대해 함수를 통해 가독성을 높일 수 있다.and 
#형식- def 함수명(Input):
#       ...
#       return

In [19]:
#Using type annotation can help co-worker to understand the function easily  
def mul(_list: list[float]) -> float:
    """
    Return result calculated by multiple from the list filling up with integer or float
    """
    total = 1 
    for i in _list:
        total *= i
    return total

print(mul([1,2,3,5,6,7,8,10]))

100800

In [7]:
# 재귀함수 (Recursive Function) : 특정 조건 하에 자기 자신을 호출하는 함수
# 유클리드 호제법(Euclidean Algorithm)을 통한 재귀함수 구현
# 참고 링크 : https://ko.wikipedia.org/wiki/%EC%9C%A0%ED%81%B4%EB%A6%AC%EB%93%9C_%ED%98%B8%EC%A0%9C%EB%B2%95
def euclid(a:int, b:int) -> int:
    """
    두 양의 정수 a와 b의 최대공약수를 구하는 유클리드 호제법 알고리즘
    """
    q,r = divmod(a,b)
    if r == 0:
        return b
    return euclid(b,r)

print(euclid(1071, 1029))

21

피보나치 수열(Fibonacci Numbers) : 이전 두 항의 합이 다음 항을 이루는 수열
[1,1,2,3,5,8,13,21,34...]
일반항 : F(n) = F(n-1) + F(n-2)

In [8]:
# 피보나치 수열을 통한 재귀함수 구현
def fib(n:int) -> int:
    """
    피보나치 수열의 n번째 원소를 리턴함
    """
    if n<=2: return 1
    return fib(n-1)+fib(n-2)
# 값을 찾는 과정에서 이전에 진행했던 연산을 반복 -> 시간 복잡도 증가 문제
# 이전에 계산한 결과를 저장하여 사용

In [11]:
# 캐싱기법-메모이제이션을 사용한 피보나치 수열 재귀함수
memo = {}
def fib2(n:int) -> int:
    if n<=2:
        return 1
    if memo.get(n) is not None:
        return memo.get(n)
    
    memo[n] = fib2(n-1) + fib2(n-2)
    return memo[n]

    """
    피보나치 수열의 계산은 트리구조를 띈다.
    Fib(5)를 계산하기 위해
    = Fib(4) + Fib(3)
    = [Fib(3) + Fib(2)] + [F(2) + Fib(1)]
    = [Fib(2) + Fib(1) + Fib(2)] + [Fib(2) + Fib(1)]
    위와 같이 방금 계산된 값도 반복 계산이 요구되기 떄문에, 많은 계산량을 요구한다.
    
    Dictionary에 n에 해당되는 값들이 처음으로 계산됐을 때 담아놓고 호출한다면, 반복계산없이
    호출할 수 있기에 연산량이 감소한다.
    
    해당 기법을 캐싱(Caching) Memoization이라고 한다.   
    """
print(fib2(10))

55

In [14]:
import time

In [17]:
# 캐싱기법-메모이제이션 효과 확인을 위한 fib & fib2 계산 시간 비교
start = time.time()
fib(38)
end = time.time()
print(f"fib took {end-start:.5f}sec")
start = time.time()
fib2(38)
end = time.time()
print(f"fib2 took {end-start:.5f}sec")

fib took 21.28690sec
fib2 took 0.00000sec

In [22]:
import calendar

In [ ]:
print(calendar.calendar(2024))